*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(73, 94, 87);
  --secondary-color: rgb(244, 206, 20);
  --border-radius: 16px;
  --title-font-family: "Markazi Text", serif;
  --subtitle-font-family: "Markazi Text", serif;
  --text-font-family: "Karla", sans-serif;
  --title-font-size: 64px;
  --subtitle-font-size: 40px;
  --text-font-size: 18px;
}

body {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  color: #000;
  background: #fff;
}

.section-primary {
  color: #fff;
  background: var(--primary-color);
}

.section-body {
  margin: 0 auto;
  max-width: 858px;
}

@media (max-width: 890px) {
  .section-body {
    padding: 0 16px;
  }
}
