*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(73, 94, 87);
  --secondary-color: rgb(244, 206, 20);
  --secondary-accent-color: rgb(238, 153, 114);
  --secondary-dark-color: rgb(237, 239, 238);
  --border-radius: 16px;
  --title-font-family: "Markazi Text", serif;
  --subtitle-font-family: "Markazi Text", serif;
  --text-font-family: "Karla", sans-serif;
  --title-font-size: 64px;
  --subtitle-font-size: 40px;
  --text-font-size: 18px;
}

body {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.section {
  color: #000;
  background: #fff;
}

.section-primary {
  color: #fff;
  background: var(--primary-color);
}

.section-body {
  margin: 0 auto;
  max-width: 858px;
}

.title {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
}

.button {
  padding: 10px 22px;

  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;

  border: none;
  outline: none;
  border-radius: 12px;

  background-color: var(--secondary-color);

  cursor: pointer;
}
.button:visited {
  color: #000;
}
.button--large {
  padding: 18px 32px;
}

@media (max-width: 890px) {
  .section-body {
    padding: 0 16px;
  }
}

@media (max-width: 475px) {
  :root {
    --title-font-size: 50px;
    --subtitle-font-size: 35px;
  }
}
