.body {
  padding: 64px 0;
}

.heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  line-height: 0.7;
}

.cards {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 475px) {
  .heading {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
