.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: var(--border-radius);
  border: 1px solid black;
  overflow: hidden;
}

.input {
  color: inherit;
  padding: 11px 5px !important;
  border: none !important;
  border-radius: 0 !important;
  text-align: center;
}
.input:focus {
  outline: none !important;
}

.left,
.right {
  grid-column: span 1 !important;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;

  cursor: pointer;
  transition: background 0.3s ease;
}

.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.icon {
  color: inherit;
  transition: color 0.3s ease;
}

.left:hover .icon,
.right:hover .icon {
  color: var(--secondary-color);
}
